@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.rpsContainer {
    background-color: white;
    color: #101010;
    font-family: Roboto;
    height: calc(100vh - 45px);

    text-align: center;
}

.scoreText {
    font-size: 25px; 
    
}

content {
}

.playContainer {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-top: 20px; 
    font-size: 20px; 
}

.rockContainer, .paperContainer, .scissorsContainer {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: Poppins;
}