@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.rpsContainer {
    background-color: white;
    color: #101010;
    font-family: Poppins;
    height: calc(100vh - 45px);
    
    text-align: center;
}

.scoreText {
    font-size: 25px; 
    
}

.rpsContainer img {
    box-shadow: 0px 2px 20px rgb(0,0,0,0.2);
}


.rpsContainer p {
    font-weight: bold;
}


.playContainer {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-top: 20px; 
    font-size: 20px; 
}

.rockContainer, .paperContainer, .scissorsContainer {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: Poppins;
}

.playAgain button {
    background-color: #BD1E59;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgb(0,0,0,0.2);
}
.liveScores {
    font-family: monospace;
    font-size: 30px;
}