@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Lato&family=Poppins&family=Roboto&family=Roboto+Mono&family=Titillium+Web:wght@300&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*- ------------- Landing COMPONENT ----------------- */
.landingContainer {
  height: 100vh;
  background-image: url(./assets/images/backgroundImage.png);
  opacity: 98%;
  background-size: cover;
  background-repeat: no-repeat;


  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  color: white;
  gap: 5px;

}

/*- -- Middle big Box -- */
.clock  {
  outline: 3px solid white;

  padding: 40px 70px 40px 70px; 
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  justify-content: flex-start;
  opacity: 100%;

  background: rgba(0, 0, 0, 0.1);

}



.dayDisplay {
  font-family: Poppins;
  font-size: 60px; 
}

.timeClock{
  font-family: Poppins;
  font-size: 46px; 
}

.dayDisplay, .timeClock, .intializer {
  padding: 0px;
  margin: 0px;


}

.welcomingLanding {
  font-family: Roboto Mono ;
  font-size: 40px;
  font-weight: bold;
}

.startButton {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  -webkit-border-radius: 5px;
  padding: 10px 25px 10px 25px;
  font-family: Roboto; 
  font-size: 20px;
  font-weight: bold;
  outline: 1px solid white;


}

.startButton:hover {
  color: black;
  background-color: white;
  outline: 1px solid black; 
  font-weight: normal;
  
}